{% extends 'karsilama.html' %}
{% block backgroundimg %}
{% endblock %}

{% block icerik %}
<main role="main" class="container">

  <div class="starter-template">
    <h1>Gsu|Ma&pi;h</h1>
    <p class="lead text-left">GSU MATH is a social network prepared for mathematics students of Galatasaray University. Thanks to this network, students will be able to easily share their course notes, textbooks and many more.</p>
    <p class="lead text-left">During semesters, the flow of lessons can vary considerably as a result of different teachers coming to the same courses every year. Due to this reason, we are making this social network.
        Now, students will be able to publish course notes and many more for specific teacher/course combination. Everyone has specific flow for his own, which flows with their interested courses. Thanks to this social network, for example a Licence 1 student will be able to see
    Licence 2,3,4 and 1 course notes. We hope this will improve success ratio of anyone.</p>
    <p class="lead text-left">This website is totally free to use. We hope adding TypeLATEX feature to the website in future.</p>
  </div>

</main><!-- /.container -->
{% endblock %}
{% block footer %}
<footer class="mastfoot mt-auto">
        <div class="inner">
          <p class="small">All rights reserved.</p>
        </div>
</footer>
{% endblock %}